# MARS Request: -
#################
#Stream: 	Atmospheric model
#Parameter: 	2 metre temperature, Albedo, Surface pressure, Total cloud cover, Total column ozone, Total column water
#Dataset: 	interim_full_daily
#Type of level: 	Surface
#Step: 	0
#Time: 	00:00:00, 06:00:00, 12:00:00, 18:00:00
#Date: 	2013-01-01/to/2015-12-31
#Type: 	Analysis
#Class: ERA Interim
# Resolution: 0.75x0.75
grib:
{
   fileName = "Test/mars-albedo-2013to2015.grib";

   # For interpolation it is sometimes necessary to specify limits
   # to avoid unphysical values.
   parameters = ( { index = 167; # 2m temperature
   	      	    minimumValue = 0.0;
		  },
      { index = 174; # albedo 
		    minimumValue = 0.0;
        maximumValue = 1.0;
		  },
		  { index = 134; # surface pressure
		    minimumValue = 0.0;
		  },
		  { index = 164; # total cloud cover
		    minimumValue = 0.0;
		    maximumValue = 1.0;
		  },
		  { index = 136; # total column water
		    minimumValue = 0.0;
		  },
		  { index = 206; # total column ozone
		    minimumValue = 0.0;
		  });
   
};
